@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --font: 'Inter', sans-serif;
  --common-bg-color: #ffffff;
  --twed-dark: #222222;
  --twed-light-dark: #7f92a0;
  --twed-grey: #2b3031;
  --twed-light-grey: #f3f5f9;
  --twed-success: #00c1c1;
  --twed-danger: #fa193e;
  --twed-warning: #fd9644;
  --twed-blue: #10338c;
  --twed-border: #e8eaec;
  --margin-bottom: 24px;
  --margin-left: 16px;
  --gradient-bg: linear-gradient(45deg, #10338c 0%, #00c1c1 100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
  //min-height: 100vh;
}

.primary-gradient-bg {
  background: linear-gradient(180deg, #10338c 0%, #00c1c1 100%);
}

.primary-text-gradient {
  background: linear-gradient(180deg, #10338c 0%, #00c1c1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    width: 100%;
    padding: 0 12px;
  }
}

.mainLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #222;
}

img {
  user-select: none;
}

.title {
  font-family: var(--font);
  font-size: 40px;
  line-height: 48px;
  color: var(--twed-grey);
  font-weight: 700;

  @media (max-width: 992px) {
    font-size: 20px;
    line-height: 24px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

.MuiPaper-elevation {
  background-color: transparent;
  box-shadow: none;

  .MuiButtonBase-root {
    justify-content: start;
    padding: 0;
  }

  .MuiAccordionDetails-root {
    padding: 0 8px;
  }

  .MuiAccordionSummary-content {
    flex-grow: initial;
    margin-right: 8px;
  }
}

.headerSwiper {
  overflow: visible !important;

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-pagination {
    bottom: -23px !important;
    transition: all 0.3s ease-in-out;
  }

  .swiper-pagination-bullet {
    transition: all 0.3s ease-in-out;
    background: var(--gradient-bg);

    &.swiper-pagination-bullet-active {
      width: 32px;
      border-radius: 7px;
      background: var(--gradient-bg);
    }
  }
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  width: 100px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  box-shadow: 0 0 10px silver;
  background-color: #fff;
  z-index: 999;

  li {
    user-select: none;
  }
}

.newsSwiper {
  .swiper-pagination-bullet {
    transition: all 0.3s ease-in-out;
    background: var(--gradient-bg);

    &.swiper-pagination-bullet-active {
      width: 32px;
      border-radius: 7px;
      background: var(--gradient-bg);
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: rgba(255, 255, 255, 0.82);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;

    &::after {
      font-size: 14px;
      font-weight: 600;
      color: #222;
    }

    &.swiper-button-disabled {
      visibility: hidden;
      opacity: 0;
      scale: 0;
    }
  }
}

.react-scroll-to-bottom--css-utjog-1tj0vk3 {
  display: none;
}

.errorMessage {
  color: #e74c3c;
  font-size: 12px;
  font-weight: 400;

  span {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.input {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  resize: none;

  &:focus {
    border-color: #007aff;
  }

  &.error {
    border-color: #e74c3c;
  }
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;

  div {
    font-family: var(--font);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed !important;

    div {
      cursor: not-allowed !important;
    }
  }
}

.ql-editor {
  min-height: 200px;
  max-height: 300px;
  overflow: auto;
}

.MuiPaper-elevation {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.css-1086bdv-MuiPaper-root-MuiAccordion-root {
  &::before {
    display: none;
  }
}

.clinicSwiper {
  .swiper-slide {
    width: fit-content !important;
  }
}

.serviceSwiper {
  .swiper-slide {
    height: auto;

    .cards {
      height: 100%;
    }
  }
}

.swiper-button-next , .swiper-button-prev{
  background: #dedede;
  padding: 10px;
  border-radius: 50%;
  width: 23px !important;
  height: 23px !important;
  opacity: 0.7 !important;
  transition: all .2s ease-in;

  &:hover {
    opacity: 1 !important;
  }

  &::after {
    font-size: 17px !important;
    color: #000;
    font-weight: 900;
  }
}
